*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "aria-hidden";
}
#wrapper {
    padding: 20px;
}
#todo {
    min-height: 100vh;
    background-color:white;
}
#btn {
    width: 100%;
    margin-bottom: 20px;
}
#todoCards {
    display: flex;
    background-color: white;
    width: 600px;
    gap: 10px;
}
.todoCard {
    position: relative;
    width: 200px;
}
.task {
    width: 100%;
}
.delBtn {
    position: absolute;
    background : white;
    color:black;
    font-size: 20px;
    bottom: 15px;
    right: 15px;
}